<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ChainMarketting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>homepage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>homepage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>businessPlan</servlet-name>
    <jsp-file>/business_plan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>businessPlan</servlet-name>
    <url-pattern>/plans</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PUClist</servlet-name>
    <jsp-file>/pick_up_centre_list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PUClist</servlet-name>
    <url-pattern>/pickupcentre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactus</servlet-name>
    <jsp-file>/contact_us.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product_pg</servlet-name>
    <jsp-file>/products.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_pg</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_pg</servlet-name>
    <jsp-file>/admin/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_pg</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signup_pg</servlet-name>
    <jsp-file>/admin/register-customer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup_pg</servlet-name>
    <url-pattern>/admin/signup</url-pattern>
  </servlet-mapping>
</web-app>